<div class="header">
<!-- input-search -- header top  -->
<div class="input-search">
  <app-input-search></app-input-search>
</div>
<!-- sort -- header bottom  -->
<div class="sort">
  <mat-grid-list cols="1" rowHeight="50px" gutterSize="20px"  >
    <mat-grid-tile>
      <div class="sort-content">
        <button>
        <mat-icon>sort</mat-icon>
        </button>
        <span>order </span>
        <span>From </span>
        <span>Thu Nov 01 2018 21:37:41 </span> To
        <span>Thu Nov 01 2018 21:37:41</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

</div>
